body{
   margin: 0px;
}

#header{

/* widht 100px */

}

.header-container{
display: flex;
justify-content: space-around;
align-items: center;
border: 1px solid green;
}
.header-iconsocial{
color: #343a40;
}
.header-menu{
margin-right: 30px;
}

 ul{       
display: flex;
padding-inline-start: 0px
border right:30px;

 }
ul li{
list-style-type:none; 
margin: 0px 10px;
}

