body{
  font-size: 17px;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;}
  .logo, .timeline-circle1, .timeline-circle2, .timeline-circle3,  .image-container button, .about-item  button, .col-6 button,  .contact-item button, .contact-form button .col-6 button{
    background-color: #f21e4e;
  }
.about-me, .services-items, .col-6 input, .col-6 textarea, .contact-form, .end, .clients-container{
  background-color: #f8f9fa;
}
.innerbox,.services-items:hover,.works-text, .header-left, .timeline{
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
} 
.image-container button, .about-item  button, .logo, .col-6 button, .contact-item button, .contact-form button{
  color: white;
}
.timeline-circle1, .timeline-circle3, .timeline-circle2, .logo, .services-circle, .clients-image, .dot, .clients-circle, .logo-circle {
border-radius: 50%;
}
.header-left, .services-items:hover, .innerbox {
   background-color: white;
}
.col-5 img, .image-container button, .about-item  button, .innerbox, .col-6 button, .about-me, .mainbox, .services-text,.contact-form button, .form, .contact-item button, .col-6 input {
  border-radius: 5px;
}
.header-left{
  height: 100vh;
  width: 100px;
  z-index: 1;
  position: fixed;}
.header-container{ 
  padding-top: 50px;
  height: 100vh;
  text-align: center;}
.logo{
  font-weight: 450;
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  text-align: center;
  border-color: #f21e4e;
  width: 40px;
  height: 40px;
  margin: auto;
  font-weight: 500;
  line-height: 40px;
  font-size: 18px;}
.header-left ul{
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 50px;
  height: 85vh;
}


ul li a{
  color: #454545;
  font-weight: 500;   
  font-size: 17px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;

  margin: 20px 0px;}
ul li:hover a{
  list-style-type: circle;
  color: #f21e4e;
}
/* image start */
.image{
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}
.image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute;
  top: 30px;
  left: 0px;
transform: translateX(110%); */
} 
.image-icon i{
  padding-right: 15px;
  padding-top: 20px;
}
.image-text{
  padding: 110px 0px; 
}
.image-container button:hover{
  background-color: rgb(52, 52, 77);
}
.image-container button{
  transition-duration: 500ms;
  width: 190px;
  height: 40px;
  text-decoration: none;
  border: none;
}
.image-text button{
margin: 30px 0px 100px 0px;
}
.image button i{
  padding-right: 10px;
}
.image-info{
  padding-bottom: 20px;
  display: flex;
}
.image-p{
  padding: 0px 40px;
}
/* image end */

/* about  start */
.timeline{
  position: relative;
  position: relative;
}
.timeline-text{
  border-left:1px solid #f21e4e;
  padding:20px 0px 10px 30px;
}
.timeline-item{
  margin-left: 30px;
}
.timeline-circle1{
  position: absolute;
  top: 30px;
  left: 24px;
  height: 13px;
  width: 13px;
}
.timeline-circle2{
  position: absolute;
  top: 210px;
  left: 24px;
  height: 13px;
  width: 13px;
}
.timeline-circle3{
  position: absolute;
  top: 390px;
  left: 24px;
  height: 13px;
  width: 13px;
}

.about-item ul{
  margin: 10px 0px;}
.about-item p :hover{
  background-color: rgb(52, 52, 77);
}
.features{
  margin-top: 15px;
}
#about{
  padding: 70px 40px 0px 40px ;
}
.li2{
  padding-right: 60px;
}
.container{
  margin-left: auto;
  margin-right: auto;
}
.section-heading{
  margin: 75px 0px 30px  0px;
}
.header-h2{
  margin-right:390px;
}
.col-6 image {
  background-position: cover;
}
.about-item caption{
  display: flex;
  align-items: start;
}
.about-item ul{
  padding: 0px;
}
.about-item ul li{
  padding: 7px 0px;
  text-decoration: none;
  list-style: none;
}
.about-item  button {
  padding: 0px;
  width: 190px;
  height: 46px;
  text-decoration: none;
  border: none;
}
.about-item p{
  margin-top: 5px;
}
.about-item button i{
  margin-right: 8px;
}
.col-5{
  object-fit: cover;
}
.col-7 h3{
  margin: 0px;
}
.col {
  display: flex;
  justify-content: space-between;
}
/* .col-7{
margin-left: 90px;} */
.list{
  display: flex;
  justify-content: space-between;
}
.about-me i{
  padding-left: 50px;
  padding: 10px 0px 0px 70px;
  margin-bottom: 15px;
  font-size: 25px;
}
.about-me p{
  text-align: center;
}
.about-me {
  margin: 5px;
  height:110px;
  line-height: 1,5;
}
.small-caption{
  display: flex;
  justify-content:space-between;  
  padding-left: 10px;
}
/* about end */

/* works start */
.works-image{
  overflow: hidden;
  position: relative;
}
.works-text{
  padding: 20px;
  display: flex;
  justify-content: space-between;}
.works-image:hover img{
  transform: scale(1.2);}
.works-image img{
  object-fit: cover;
  transition: all .3s linear;}
/* works end */

/* services start */
.h6{
  margin-top: 0px;}
.services-circle{     
  width: 80px;
  height: 80px;
  background-color: transparent;
  margin: auto;
  border: 1px solid #f21e4e;
  text-align: center;
}

.services-circle h2{
  margin-top: 15px;
  text-align: center;
  color:#f21e4e;
}
.services-text{
  text-align: center;}
.services-items{
  transition-duration: 500ms;
  padding: 15px 0px;
 }
.services-items:hover{
  transform: translateY(-12px);
}
.col-4{
  padding: 10px;
}
.col-4 img{
  max-width: 100%;
  height: auto;
}
/* services end */

/* blog */
.mainbox:hover{
  transform: translateY(-12px);
}
.mainbox{
  transition-duration: 500ms;
}
.col-6 button{
  text-decoration: none;
  border: none;
}
.col-6{
  padding: 10px;
}
.mainbox img{
  max-width: 100%;
  height: auto;}
.innerbox{
  position: relative;
  margin: -50px 20px auto 20px;
  padding: 20px;
  }
.innerbox title{  
  line-height: 1.5;
  font-weight: 500;}
/* blog end */
/* contact start */
.contact-info{
  padding:0px 0px 30px 15px  ;
}
.contact-form{
  margin-bottom: 20px;
  padding: 30px;
}
.contact-caption{
  border-left: 3px solid #f21e4e;
  padding-left: 4px;
}
.contact-form button{
  border: none;
}
.form{
  padding: 30px;
  }
.contact-item h2{
  margin-top: 0px;}
.contact-item button{
  margin: 7px;
  width: 160px;
  height: 40px;
  text-decoration: none;
  border: none;}
.col-6 input{
  outline: none;
  margin: 7px;
  border: 1px solid rgb(204, 201, 201);
  width: 500px;
  height: 35px;
}
.col-6 textarea{
  border: 1px solid rgb(204, 201, 201);
  outline: none;
  margin: 7px;
  width: 500px;
  height: 120px;}
.col-6 i{
  margin: 10px;}
/* clients start */
.clients-container{
  margin: 0px 30px;
}
.clients-content{
  position: relative;
  padding: 30px 10px 30px 90px;
}
.logo-circle{
  width: 40px;
  height: 40px;
  border-color: 1px solid #f21e4e;
  color:#f21e4e;
}
.clients-circle{
  border: 1px solid #f21e4e;
  border-color: 1px solid #f21e4e;
  color:#f21e4e;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 10px;
  top: 90px;
}
.name{
  border-left: 3px solid #f21e4e;
  padding-left: 8px;
}
.clients-image{
  background-repeat: no-repeat;
  object-fit: cover;
  background-image:url(../img/12.png);
  background-position: center;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 16px;
  top: 95px;
}
.clients-text{
  color:#6c757d;
}
.dot{
  background-color: #929292;
  width: 5px;
  height: 5px;
}
/* clients end */
.end{
  display: flex;
  justify-content: center;
  text-align: center;
}