body{
    margin: 0px;
    padding: 0px;}
.navbar{
position: fixed;
/* border: 1px solid green; */
height: 100vh;
width: 100px;}
.navbar-container{
    text-align: center;}
.navbar-vertical ul{
list-style-type: none;
display: flex;
flex-direction: column-reverse;
justify-content: center;
width: 50px;
height: 85vh;}
ul li a{
     writing-mode: vertical-rl;
     transform: rotate(180deg);
    display: flex;
    justify-content: center;
    list-style: none;
   text-decoration: none;
   color: black;
   margin: 10px 0px;}



/* image start */
.image{
    padding: 90px 0px;
    margin-left: 100px;
    /* border:1px solid red; */
    background-image: url("../img/bg.jpg");
background-position: cover; }
.image-container{
padding-left: 330px;}
.image-icon i{
    padding-right: 15px;
    padding-top: 20px;}
.image-text{
    padding-top: 255px;
    padding-bottom: 230px;}
.image-container button{
width: 160px;
height: 40px;
 background-color:#f21e4e;
 color: white;
 text-decoration: none;
 border: none;
 border-radius: 5px;}
.image button i{
    padding-right: 10px;}
.image-info{
padding-bottom: 30px;
display: flex;}
.image-p{
    padding: 0px 40px;}